body {
  background: rgb(0, 0, 0);
  background-image: url("../media/54107357754_d73865de3f_k.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  
}

header {
  width: 100%;
  height: 590px;
  background-color: #a7933c76;
}



header h1 {
  font-family: "Quicksand", sans-serif;
  font-size: xxx-large;
}

.imageOrange {
    width: 400px;
    height: 400px;
    border: 10px double #663710;
    display: block;
}

.photoIcons {
  width: 20px;
  height: 20px;
}

.mainName {
  color: #e79f64;
}

header li {
  background-color: #3b3607ad;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgb(34 15 2 / 59%);
  a:hover {

    color: #3ca749;
    border-radius: 4px;
    cursor: url(../media/star-4pt-round.svg) auto;
   }
}

li a {
 color: #e79f64;
}

*,*::before, *::after {
  box-sizing: border-box;
}

.hard {
  width: 300px;
  padding: 20px;
  margin: 10px;
  margin-left: 150px;
  border: 5px double #000000;
  background-color: #438d4e;
  /* box-shadow: 15px 15px 5px rgb(10, 75, 10); */
  display: inline-block;
  vertical-align: top;
  font-size: smaller;
}

.soft {
  width: 300px;
  padding: 20px;
  margin: 10px;
  margin-left: 25px;
  border: 5px double #000000;
  background-color: #438d4e;
  /* box-shadow: 15px 15px 5px rgb(5, 51, 5); */
  display: inline-block;
  vertical-align: top;
  font-size: smaller;
}

h4 {

}


  @media only screen and (max-width: 766px) {
    
    body {
      font-family: "Faulty Glyphic", sans-serif;
      background-image: url(../media/pillars\ of\ creation.jpg);
      background-attachment: fixed;
      background-size: cover;
    }

    header {
      background-color: transparent;
      height: 20px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      border: 2px solid rgb(128, 62, 0);
      margin-bottom: 6px;
    }

    li a {
      color: #9ab9a5;
    }
    
    .initialName {
      margin-top: 65px;
      font-size: xx-large;
      color:#9ab9a5;
    }

    *,*::before, *::after {
      box-sizing: border-box;
    }
    
    .hard {
      width: 300px;
      padding: 20px;
      margin: 10px;
      border: 5px double #000000;
      background-color: #438d4e;
      /* box-shadow: 15px 15px 5px rgb(10, 75, 10); */
      display: inline-block;
      vertical-align: top;
      font-size: smaller;
    }
    
    .soft {
      width: 300px;
      padding: 20px;
      margin: 10px;
      border: 5px double #000000;
      background-color: #438d4e;
      /* box-shadow: 15px 15px 5px rgb(5, 51, 5); */
      display: inline-block;
      vertical-align: top;
      font-size: smaller;
    }

  } 