body {
  background: rgb(0, 0, 0);
  background-image: url("../media/54107357754_d73865de3f_k.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Quicksand", sans-serif;
  
}

header {
  width: 100%;
  height: 590px;
  background-color: #a7933c76;
}

/* Large header */

header h1 {
  font-family: "Quicksand", sans-serif;
  font-size: xxx-large;
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #397524 #000000;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 14px;
  width: 14px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #000000;
}

*::-webkit-scrollbar-track:hover {
  background-color: #FFFFFF;
}

*::-webkit-scrollbar-track:active {
  background-color: #FFA500;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #397524;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #FFA500;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #42C0FB;
}



.imageOrange {
    width: 400px;
    height: 400px;
    border: 10px double #663710;
    display: block;
}

main {
  background-image: url(../media/2024\ eclipse.jpg);
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mainName {
  color: #e79f64;
}

header li {
  background-color: #3b3607ad;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgb(34 15 2 / 59%);
  a:hover {
    color: #3ca749;
    border-radius: 4px;
   }
}

.extraBar {
  width: 100%;
  height: 70px;
  background: rgb(167,147,60);
background: linear-gradient(180deg, rgba(167,147,60,0.46) 0%, rgba(0,0,0,1) 50%);
}

/* Begin Main Section */

.socials:hover {
  width: 100px;
  height: 100px;
  transition: ease 2s;
}

.arrows {
  width: 130px;
  margin-top: 38%;
}

li a {
 color: #e79f64;
}

.meSection {
  font-family: "Quicksand", sans-serif;
  background-color: #3ca748a1;
  border: 5px double black;
}

.aboutMe {
  color: #ffa500;
}

.meText {
  color: white;
}

*,*::before, *::after {
  box-sizing: border-box;
}

.hard {
  width: 314px;
  padding: 20px;
  border: 5px double #000000;
  background-color: #0e3712bd;
  /* box-shadow: 15px 15px 5px rgb(10, 75, 10); */
  display: inline-block;
  vertical-align: top;
  font-size: smaller;
  margin-bottom: 26px;
}

.soft {
  width: 314px;
  padding: 20px;
  border: 5px double #000000;
  background-color: #0e3712bd;
  /* box-shadow: 15px 15px 5px rgb(5, 51, 5); */
  display: inline-block;
  vertical-align: top;
  font-size: smaller;
  margin-bottom: 0px;
}

.skills {
  list-style-type: none;
  color: #42c0fb;
}


h3 {
  text-align: center;
  color: #ffa500;
}

.educationSect {
  font-family: "Quicksand", sans-serif;
  background-color: #3ca748a1;
  border: 5px double black;
  color: #ffa500;
}

.college {
  list-style-type: square;
  color: #42c0fb
}

.certs {
  font-family: "Quicksand", sans-serif;
  margin-top: 20px;
  background-color: #3ca748a1;
  border: 5px double black;
  color: #ffa500;
}

.certTitle {
  margin-bottom: 32px;
}


.carouselText {
  color: rgb(152, 16, 16);
}


.contacts {
  color: white;
}
 

.card {
  
}

.card-img-top {
  height: 272px;
}

footer {
  background-color: #e79f64;
}








  @media only screen and (max-width: 766px) {

    header li {
      background-color: #0c51149e;
    }
    
    body {
      font-family: "Faulty Glyphic", sans-serif;
      background-image: url(../media/pillars\ of\ creation.jpg);
      background-attachment: fixed;
      background-size: cover;
    }

    header {
      background-color: transparent;
      height: 260px;
      
    }


    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }


    header li {
      margin-bottom: 5px;
      padding: 10px;
      color: white;
      a:hover {
        color: #ffa500;
      }
      
    }

    li a {
      color: white;
  }

  main {
    background-image: none;
  }
    
    .initialName {
      margin-top: 20px;
      font-size: xx-large;
      color:white;
    }

    *,*::before, *::after {
      box-sizing: border-box;
    }
    
    .meSection {
      font-family: "Faulty Glyphic", sans-serif;
      background-color: #0c51149e;
      margin-top: 35%;
      box-shadow: 10px 10px 5px rgb(34 15 2 / 59%);
    }


    .meText {
      color: white;
    }

    .hard {
      width: 320px;
      padding: 20px;
      margin-top: 20px;
      margin-bottom: 0px;
      border: 5px double #000000;
      background-color: #0c51149e;
      /* box-shadow: 15px 15px 5px rgb(10, 75, 10); */
      display: inline-block;
      vertical-align: top;
      font-size: smaller;
      text-align: center;
      box-shadow: 10px 10px 5px rgb(34 15 2 / 59%);
    }
    
    .soft {
      width: 320px;
      padding: 20px;
      margin-left: 0px;
      margin-bottom: 20px;
      border: 5px double #000000;
      background-color: #0c51149e;
      /* box-shadow: 15px 15px 5px rgb(5, 51, 5); */
      display: inline-block;
      vertical-align: top;
      font-size: smaller;
      text-align: center;
      box-shadow: 10px 10px 5px rgb(34 15 2 / 59%);
    }

    .educationSect {
      background-color: #0c51149e;
      border: 5px double black;
      box-shadow: 10px 10px 5px rgb(34 15 2 / 59%);
    }

    .certs {
      background-color: #0c51149e;
      border: 5px double black;
      box-shadow: 10px 10px 5px rgb(34 15 2 / 59%);
    }

   .card {
    margin-bottom: 30px;
   }

  } 