body {
    background-color: black;
    font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2vw;
}

.mainImage {
    position: relative;
    clip-path: polygon(25% 0%, 100% 0, 100% 100%, 25% 100%, 0% 50%);
}

.filter {
        -webkit-filter: brightness(60%);
        filter: brightness(60%);
        &:hover {
            filter: brightness(100%);
        }
}
      
.mainImageTwo {
    position: relative;
   left: 5%;
    width: 350px;
    height: 400px;
    background-color: #ffa600;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.mainImageThree {
    position: relative;
    left: 10%;
    width: 350px;
    height: 400px;
    background-color: #42c0fb;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

ul {
    list-style-type: none;
    padding: 0;
}

li a {
    display: block;
    text-decoration: none;
    font-size: x-large;
}

.navigation {
width: 100%;
padding: 32px;
margin-bottom: 7px;
background-color: #ffa600;
color: white;
&:hover {
    background-color: green;
    color: #ffa600;
    }
}

/* Social Media */
.socials:hover {
    width: 70px;
    height: 70px;
    transition: ease 2s;
    animation: customAni 2s ease 0s 1 normal none;
}

@keyframes customAni {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    50% {
      transform: scale3d(0.85, 1.15, 1);
    }
  
    65% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }

footer {
    color: #42c0fb;
}

@media only screen and (max-width: 768px) {


    ul {
        list-style-type: none;
        padding: 0;
        width: 100%;
    }

    .navigationSmall {
        padding: 50px;
        margin-bottom: 15px;
        color: white;
        border: 2px solid green;
    }

    .phoneLogo {
      width: 100%;
        height: auto;
        max-width: 10vw;
      
    }
    
}
    